
.text {
  fill: url(#gr-radial);
}

/* Other styles */
html, body {
  height: 100%;
}
body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
